<div class="hidariue">
  <div class="usermei">
    <a href="">Jerry</a>
  </div>
  <div class="sakusei">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="hidarisita">
    <div class="chatto">
    <div class="chatto-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="chatto">
    <div class="chatto-name">
      <a href="#">techroom2</a>
    </div>
  </div>

</div>