<div class="hidariue">
  <div class="usermei">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="sakusei">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="hidarisita">
   <% current_user.rooms.each do |room| %>
    <div class="chatto">
      <div class="chatto-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
   <% end %>
</div>